@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@1,300&family=Mukta:wght@300&display=swap'); /* import link from google fonts*/

*{ /* wild card setting marging padding and border to 0*/
    margin: 0;
    padding: 0;
    border: 0;
}

body{ /* setting body font*/
    font-family: Mukta, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* Headings and logo */

h1, h2{
    font-family: Merriweather, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: black;
}

#logo{
    float: left;
    font-size: 300%;
    margin-left: 50px;
}

/* navegation links*/

#menu{
    font-size: 120%;
    letter-spacing: 4px;
    float: right;
}

#menu, #logo{ /* to align these two elements*/
    line-height: 75px;
}

#menu li{
    list-style-type: none;
    margin-right: 40px;
    float: left;
}

#menu a{
    text-decoration: none;
    color: inherit;
}

#menu a:hover{
    border-bottom: 1px solid black;
}

.active{
    border-bottom: 1px solid black;
}

/* dojo-students image*/

#dojo1-outer{
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#cover-text , #cover-text h2{
    color: #fff;

}

#dojo1-image{
    height: 600px;
    width: 100%;
    background: url("../images/dojo1.jpg") no-repeat center center; /* no repeat if it is smaller than the window and set horizontally and vertically*/

    /*animation effect on loeading page */
    animation-name: zoom;
    animation-duration: 7s;
    animation-fill-mode: forwards;
}

/*Create zoomOut efect on art-image */

@keyframes zoom{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

#cover-text{
    font-size: 130%;
    font-family: Merriweather, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 170px;

    padding-top: 40 px;
    padding-left: 10px;

    background-color: rgba(238, 237, 27, .7);

    bottom: 30px;
    right: 70px;

    position: absolute;
}

/* about-us */

#about-us{
    height: 600px;
}

#left-about{
    padding-top: 30px;
    width: 33%;
    float: left;
    
}

#right-about{
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-about{
    width: 33%;
    margin: 0 auto;
    background-color: green;
}

hr{
    border-top:1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

.left-about-us{
    width: 60%;
    line-height: 20px;
    clear: both;
    margin-bottom: 20px;
    float: right;

}

.right-about-us{
    width: 60%;
    line-height: 20px;
    clear: both;
    margin-bottom: 20px;
    float: left;
}
.right-about-us h2{
    text-align: right;
}

.right-about-us p{
    text-align: right;
}