@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@1,300&family=Mukta:wght@300&display=swap'); /* import link from google fonts*/

*{ /* wild card setting marging padding and border to 0*/
    margin: 0;
    padding: 0;
    border: 0;
}

body{ /* setting body font*/
    font-family: Mukta, sans-serif;
    font-weight: 300;
    color: grey;
}

/* Headings and logo */

h1, h2{
    font-family: Merriweather, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: black;
}

#logo{
    float: left;
    font-size: 300%;
}

/* navegation links*/

#menu{
    font-size: 120%;
    letter-spacing: 4px;
    float: right;
}

#menu, #logo{ /* to align these two elements*/
    line-height: 75px;
}

#menu li{
    list-style-type: none;
    margin-right: 40px;
    float: left;
}

#menu a{
    text-decoration: none;
    color: inherit;
}

#menu a:hover{
    border-bottom: 1px solid black;
}