@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@1,300&family=Mukta:wght@300&display=swap'); /* import link from google fonts*/

*{ /* wild card setting marging padding and border to 0*/
    margin: 0;
    padding: 0;
    border: none;
}

body{ /* setting body font*/
    font-family: Mukta, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* Headings and logo */

h1, h2{
    font-family: Merriweather, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: black;
}

#logo{
    float: left;
    font-size: 300%;
    margin-left: 50px;
}

/* navegation links*/

#menu{
    font-size: 120%;
    letter-spacing: 4px;
    float: right;
}

#menu, #logo{ /* to align these two elements*/
    line-height: 75px;
}

#menu li{
    list-style-type: none;
    margin-right: 40px;
    float: left;
}

#menu a{
    text-decoration: none;
    color: inherit;
}

#menu a:hover{
    border-bottom: 1px solid black;
}

.active{
    border-bottom: 1px solid black;
}

/* dojo-students image*/

#dojo1-outer{
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#cover-text , #cover-text h2{
    color: #fff;

}

#dojo1-image{
    height: 600px;
    width: 100%;
    background: url("../images/dojo1.jpg") no-repeat center center; /* no repeat if it is smaller than the window and set horizontally and vertically*/

    /*animation effect on loeading page */
    animation-name: zoom;
    animation-duration: 7s;
    animation-fill-mode: forwards;
}

/*Create zoomOut efect on art-image */

@keyframes zoom{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

#cover-text{
    font-size: 130%;
    font-family: Merriweather, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 230px;

    padding-top: 40 px;
    padding-left: 10px;

    background-color: rgba(238, 237, 27, .7);

    bottom: 40px;
    left: 30px;

    position: absolute;
}

/* about-us */

#about-us{
    height: 600px;
}

#left-about{
    padding-top: 30px;
    width: 33%;
    float: left;
    
}

#right-about{
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-about{
    width: 33%;
    margin: 0 auto; /* Center this div */
}

hr{
    border-top: 3px solid rgba(238, 237, 27, .7);
    width: 100%;
    margin: 5px 0;
}

.left-about-us{
    width: 60%;
    line-height: 20px;
    clear: both; /*we ensure that each content block is aligned vertically */
    margin-bottom: 50px; /*we create some breathing space between the divs*/
    float: right;

}

.right-about-us{
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both; /*we ensure that each content block is aligned vertically */
    margin-bottom: 50px; /*we create some breathing space between the divs*/
    
}


.right-about-us h2{
    text-align: right;
}

.right-about-us p{
    text-align: right;
}

#why-title{
    text-align: center;
    margin: 20px 0; /*We push the heading 20px down from the hero image */
    font-size: 220%;

}

#circle-container{
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: rgba(238, 237, 27, .7); 
    border-width: 5px;
    border-radius: 50%;
    margin: 0 auto;

}

#circle-cover-bg{
    background: url(../images/hi.JPG) no-repeat center center; /* we horizontally and vertically center the image and prevent repeats*/
    height: 100%; /*We need to give the div a height or the image won't show up */
    border-radius: 50%; /*To make the image round */
}

/* Schedule jujitsu classes*/

#schedule-title{
    text-align: center;
    margin: 20px 0;
    font-size: 160%;
}

#schedule div{
    background-color:rgba(238, 237, 27, .7);
    width: 100%;
    height: 70px;
    /*display: inline-table;*/
    padding: 30px 0 0 10px;
    text-align: center;
    border: 1px solid #3a3a3a;
    
}


/* Peoples Expiriences at warrior dojo */

#experiences div{
    background-color:rgba(238, 237, 27, .7);
    width: 100%;
    height: 200px;
    padding: 30px 0 0 10px;
    text-align: center;
   
    
    /*width: 100%;
    height: 100%;
    text-align: center;*/
}

 #experiences , #simon-pic #jeff-pic {
    margin: 0 auto;
    margin-bottom: 2%;
    border: 1px solid #3a3a3a;
 }

#title-experience{
    text-align: center;
    margin: 20px 0;
    font-size: 160%;
}

/* form-section and signup-form styling */

.form-section {
    clear: left;
    background: url("../images/signup.jpg");
    background-size: cover;
    background-position: center;
    height: 900px;
}


.signup-form{
    margin: 150px 10% 0 0;
    color: #3a3a3a;
    background-color:rgb(218, 218, 218);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
}

.join-button{
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #e8f16b;
    color: #3a3a3a;;
    display:block;
}

.join-button:hover{
    background-color: #3a3a3a;
    color:#e8f16b;
}

.text-input:hover{
    border-color: #e8f16b;
}

/* Google map style*/

#map {
    height: 300px;
    margin-top: 3%;
}


/* Footer section*/

footer{
    height:150px;
}

.social-media{
    text-align: center;
    height: 150px;
    
}

.social-media > li{
    display: inline;
}

.social-media i{
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color:#3a3a3a;
}

#contact-info > div{
    text-align: center;

}

/* Media queries */

/*For Larger to Medium  screen size - tablet - 1200px wide and down*/

@media screen and (max-width: 1200px){
    #about-us{
        width: 65%; /* narrow dising tablet */
        height: 1200px; /* accomodate vertical layout*/
        margin: 0 auto; /* to center content */
    }

    #why-title{
        padding: 30px 0; /* to keep balance between the title and the image above*/
        margin: 0; /* clean vertical gap*/ 
       }


    #left-about-us , #right-about-us{
        width: 100%; /* 100% width of the parent section about-us*/
        float: left;
        padding: 0; /* override default desktop-level padding */
    }

    #center-about{
        clear: both; /* to push image below text content*/
        width: 100%; /* 100% of the parent about-us width*/
        float: left;
        padding: 0; /* override default desktop-level padding */
    }

    hr{
        display: none;
    }
}

/* for medium screen sieze - phones - 950px wide and down*/

@media screen and (max-width: 950px){
   
    #menu{ /* push it below and left of logo*/
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px; /* to have some space balance between logo title and image obove  */
    }

    #cover-text{
        left: 0;
    }

    #about-us{
        width: 90%; /* mobile divices width - this is going to make a 5% spacing on the left and right margins of the screen*/
        height: 1200px;
        margin: 0 auto;

    } 

    
    .left-about-us , .right-about-us{
        width: 100%;
        display: inline;
        /*display: inline-flexbox;*/
    } 

    .left-about-us h2, .right-about-us h2{
        width: 100%;
        text-align: center;
    }

    .left-about-us p, .right-about-us p{
        text-align: center;
        padding: 0 20px;
    }

}